/* .flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: normal;
  align-content: stretch;
  border: 1px solid;
  margin: 1rem;
} */

.gridContainer {
  margin: 1em;
  border: 1px solid;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.5fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "temps  icons"
    "city city";
}

.temps {
  width: 90%;
  height: 90%;
  grid-area: temps;
  justify-self: center;
  align-self: center;
  /* border: 1px solid; */
}

.icons {
  width: 90%;
  height: 90%;
  grid-area: icons;
  justify-self: center;
  align-self: center;
  /* border: 1px solid; */
}



.icons span {
  display: flex;
  justify-content: center;
}

.city {
  /* width: 90%;
  height: 90%; */
  /* max-width: 70%; */
  grid-area: city;
  /* margin: 0.5em 2em; */
  /* border: 1px solid; */
}

.city h4 {
  padding: 1em;
  margin: 0 auto;
  max-width: 70%;
  
}

.deleteBtn {
  position: absolute;
  top: 1px;
  right: 1px;
}

.deleteBtn button {
  height: 5px;
  width: 5px;
}
